.ui.empty.circular.label.is-online {
    margin-left: 5px;
}

.chat-area {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 2px;
    padding-right: 2px;
    border: 2px solid #556880;
    border-right: 6px solid #556880;
    border-bottom: 6px solid #556880;

    font-size: x-large;
    line-height: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.1s;
}

.chat-area-offline {
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 2px;
    padding-right: 2px;
    border: 2px solid #556880;
    border-right: 6px solid #556880;
    border-bottom: 6px solid #556880;

    font-size: x-large;
    line-height: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.1s;
}

.chat-area-contents {
    margin-left: 2px;
    font-size: 18px;
}

.chat-my-name {
    font-size: 26px;
    color: #6711FF;
}

.chat-other-name {
    font-size: 24px;
    color: black;
}

.inner-message {
    margin-bottom: 2px;
    margin: 3px;
}

.blur {
    opacity: 0.3;
}