.chatting {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    width: 20%;
    height: 15%;
    border: 2px solid black;
    border-radius: 5px;
}

.first-chatter {
    top:40%;
    left:40%;
    position: absolute;
}

.second-chatter {
    top: 60%;
    left: 40%;
    position: absolute;
}

.third-chatter {
    top: 80%;
    left: 40%;
    position: absolute;
}

.fourth-chatter {
    top: 40%;
    left: 70%;
    position: absolute;
}

.fifth-chatter {
    top: 60%;
    left: 70%;
    position: absolute;
}

.image-area {
    border: 1px solid black;
    width: 30%;
    box-sizing: border-box;
    display: block;
    float: left;
}

.image-area img {
    max-width:100%;
    max-height:100%;
}

.chat-area {
    width: 65%;
    height: 30%;
    margin-left: 4%;
    box-sizing: border-box;
}