font {
    line-height: 1.3em;
}

.roomarea {
    width:50%;
}

.chatting {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 27%;
    height: 25%;
    border: 2px solid black;
    border-radius: 5px;
}

.first-chatter {
    top:20%;
    left:40%;
    position: absolute;
}

.second-chatter {
    top: 50%;
    left: 40%;
    position: absolute;
}

.third-chatter {
    top: 80%;
    left: 40%;
    position: absolute;
}

.fourth-chatter {
    top: 50%;
    left: 70%;
    position: absolute;
}

.fifth-chatter {
    top: 80%;
    left: 70%;
    position: absolute;
}

.image-area {
    border: 1px solid black;
    width: 50%;
    box-sizing: border-box;
    display: block;
    float: left;
}

.image-area img {
    max-width:100%;
    max-height:100%;
}

.chat-area {
    width: 65%;
    height: 30%;
    margin-left: 4%;
    box-sizing: border-box;
}