.chatarea {
    font-size: x-large;
    line-height: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid gray;
    border-right: 6px solid gray;
    border-bottom: 6px solid gray;
    transition: background-color 0.1s;
}

/*.highlight{
    background-image: URL('../static/images/cocoro.gif');
}*/

/*.highlightend{
    background-image: URL('');
}*/

.blur{
    opacity: 0.3;
}

.message {
    margin: 7px;
}

.first {
    top:10%;
    left:10%;
    position: absolute;
}

.second {
    top:10%;
    left:10%;
    position: absolute;
}

.third {
    top:10%;
    left:10%;
    position: absolute;
}

.fourth {
    top:10%;
    left:10%;
    position: absolute;
}

.fifth {
    top:10%;
    left:10%;
    position: absolute;
}

.fifth {
    top:10%;
    left:10%;
    position: absolute;
}

.sixth {
    top:10%;
    left:10%;
    position: absolute;
}

.inputspace {
    top:60%;
    border: 2px solid black;
    border-radius: 5px;
}