.lobby {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.lobby-room-table {
    font-size: 4em;
}

.room-entered {
    background-color: salmon;
}

.table-cell-text {
    font: outline;
    font-weight: bold;
}

.ui.inverted,
.ui.table.inverted {
    background: #363C7054;
    color: #363C70FF;
}

.ui.header.lobby-header {
    font-size: 4em;
}


.ui.header.username-header {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.ui.button.logout-button {
    margin-left: 5px;
}