<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Bubblit · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <nav>
      <div class="nav-wrapper primary-dark-color" style="display:none;">
        <a href="/" class="brand-logo">Bubblit Login Page</a>

        <!-- Dropdown Structure User actions -->
        <ul id="user-actions" class="dropdown-content">
          <li id="logout-link"><%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete %></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%= if signed_in?(@conn) do %>
              <li><a id="current-username" class="dropdown-trigger" href="#!" data-target="user-actions"><%=@current_user.name %></a></li>
              <li><a id="current-userid"data-target="user-actions"><%=@current_user.id %></a></li>
            <% end %>
        </ul>
      </div>
    </nav>
    <%= render @view_module, @view_template, assigns %>
      <%# <%= inspect(assigns) %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
